body {
    font-family: 'Gloria Hallelujah', cursive;
}

.wholePageContainer {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.titleContainer {
    margin: 20px auto;
    flex-direction: row;

}

.buttonContainer {
    width: 80%;
    height: 20%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;

}

.button {
    width: 20%;
    height: 100px;
    font-size: 16px;
    margin: auto;


}

.buttonScissors {
    width: 25%;
    height: 100px;
    font-size: 16px;
    margin: auto;


}

.scoreContainer {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    outline: 1px solid black;

}

.score {
    margin: 5px 5px 5px 5px; 
    outline: 1px solid black;


}

.buttonImage {
    width: 80%


}

.buttonImageScissors {
    width: 100%;  
}

#compMoveContainer{
    margin: 50px 50px 15px 50px;
}

#compMoveBox {
    text-align: center;
}